################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/ichijiku_oF/v16
*.dll
*.exe
*.exp
*.ilk
*.lib
/obj/*